[submodule "submodules/flash-global-climate-dashboard"]
	path = submodules/flash-global-climate-dashboard
	url = https://github.com/nemac/flash-global-climate-dashboard.git
[submodule "submodules/html5-global-climate-dashboard"]
	path = submodules/html5-global-climate-dashboard
	url = https://github.com/nemac/html5-global-climate-dashboard.git
